div.row-fluid
  h2 Administration 

div.row-fluid
  p.span10.offset1 There are currently 
    span#client_count 1
    |  people viewing the site. Maximum was 
    span#client_max 1
    |  on 
    span#client_max_timestamp now
    | .

