div#loading.row-fluid
  p.span10.offset1.loading Loading, please wait...

div.row-fluid.hidden
  h2#keywords.span12

div.row-fluid.hidden
  p.span8.offset4
    span.big
      span#total_tweets_count
      |  tweets
    |  from 
    span.big
      span#total_users
      |  users
    | , between 
    span#total_tweets_start
    |  and 
    span#total_tweets_end
    | . That's an average of 
    span.big
      span#tps_count
      |  tweets per 
      span#tps_unit
    | .

div.row-fluid.hidden
  div#top_tweeters.chart.span6
    h2 Top Tweeters
    div

  div#top_mentions.chart.span6
    h2 Most Popular Users
    div

div.row-fluid.hidden
  div#top_hashtags.chart.span6
    h2 Top Hashtags
    div

  div#top_links.chart.span6
    h2 Top Links
    div

div.row-fluid
  p.span10.offset1 There are currently 
    span#client_count 1
    |  people viewing this page. Maximum was 
    span#client_max 1
    |  on 
    span#client_max_timestamp now
    | .

