div#loading.row-fluid
  p.span10.offset1.loading 
    i.icon-refresh.icon-spin
    |  Loading, please wait...

div.row-fluid.hidden.data-available.no-data-available
  h2#keywords.span12

div.row-fluid.hidden.no-data-available
  p.span9.offset1
    i.icon-twitter.pull-left
    span.big Sorry. There are no tweets available.

div.row-fluid.hidden.data-available
  p.span9.offset1
    i.icon-twitter.pull-left
    span#total_tweets.big
      span#total_tweets_count
      |  tweets
    |  from 
    span#total_users.big
      span#total_users_count
      |  users
    | , between 
    span#total_tweets_start
    |  and 
    span#total_tweets_end
    | . That's an average of 
    span#tps.big
      span#tps_count
      |  tweets per 
      span#tps_unit
    | .

div.row-fluid.hidden.data-available
  div#top_tweeters.chart.span6
    h2 Top Tweeters
    div

  div#top_mentions.chart.span6
    h2 Most Popular Users
    div

div.row-fluid.hidden.data-available
  div#top_hashtags.chart.span6
    h2 Top Hashtags
    div

  div#top_links.chart.span6
    h2 Top Links
    div

div.row-fluid
  div.span1
    a.twitter-share-button(href='https://twitter.com/share', data-lang='en', data-url='http://twevent.com', data-text='Realtime Twitter analytics', data-related='andymurd: Twevent.com author') Tweet
  div.span8.offset1 There are currently 
    span#client_count 1
    |  people viewing this page. Maximum was 
    span#client_max 1
    |  on 
    span#client_max_timestamp now
    | .

div.row-fluid
  div.span5
    small Twevent.com is not affiliated with 
      a(href='http://twitter.com') Twitter
      |  in any way. 
  div.span5.offset2.text-right
    small Twevent.com is &copy; 2013 
      a(href='http://twitter.com/andymurd', rel='me') @andymurd

script.
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

