body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clearfix {
    clear: both;
}

.chart, .list {
    float: left;
}

.chart > div {
    width: 440px;
    height: 360px;
}

.chart .axis path, .chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chart .bar {
    fill: gray;
    shape-rendering: crispEdges;
}

.chart .bar.insert {
    fill: steelblue;
}

.chart .notation {
    fill: white;
}

.chart .y text {
    font-size: 14px;
    fill: #00B7FF;
    text-decoration: underline;
    cursor: pointer;
    shape-rendering: crispEdges;
}

