{
    "twitter": {
        "consumer_key": "SECRET",
        "consumer_secret": "SECRET",
        "access_token_key": "SECRET",
        "access_token_secret": "SECRET"
    },
    "mongodb": {
        "connection": "mongodb://SECRET",
        "cap": {
            "tweet": 450,
            "mapreduce": 10
        }
    },
    "express": {
        "session_secret": "SECRET"
    },
    "socketio": {
        "websockets": true
    },
    "mapreduce": {
        "every": 60000
    },
    "flush_tweets": {
        "every": 5000
    },
    "features": {
        "twitter": {
            "connect": true,
            "stream": true
        },
        "mongodb": {
            "connect": true,
            "save_tweets": true,
            "mapreduce": true
        }
    }
}

